security:
  password_hashers:
    App\Entity\User:
      algorithm: bcrypt
    Symfony\Component\Security\Core\User\User:
      algorithm: plaintext
    Symfony\Component\Security\Core\User\InMemoryUser:
      algorithm: plaintext


  role_hierarchy:
    ROLE_MECHANIC: [
      ROLE_WORKPLACE_MECHANIC,
      ROLE_VEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      #vehicle calendar
      ROLE_TT_VEHICLE_CALENDAR_VIEW,
      ROLE_TT_VEHICLE_CALENDAR_CREATE,
      ROLE_TT_VEHICLE_CALENDAR_EDIT,
      ROLE_TT_VEHICLE_CALENDAR_DELETE,
      ROLE_TT_VEHICLE_CALENDAR_BLOCK,
      ROLE_TT_VEHICLE_CALENDAR_CLOSE,

      #driver calendar
      ROLE_TT_DRIVER_CALENDAR_VIEW,
      ROLE_TT_DRIVER_CALENDAR_CREATE,
      ROLE_TT_DRIVER_CALENDAR_EDIT,
      ROLE_TT_DRIVER_CALENDAR_DELETE,
      ROLE_TT_DRIVER_CALENDAR_BLOCK,
      ROLE_TT_DRIVER_CALENDAR_CLOSE,

      #discharges
      ROLE_TT_DISCHARGE_VIEW,
      ROLE_TT_VEHICLE_REQUEST_DISCHARGE_CREATE,
      ROLE_TT_DISCHARGE_EDIT,
      ROLE_TT_DISCHARGE_DELETE,
      ROLE_TT_DISCHARGE_APPROVE,

      # additional release
      ROLE_TT_VEHICLE_RELEASE_VIEW,
      ROLE_TT_VEHICLE_RELEASE_CREATE,
      ROLE_TT_VEHICLE_RELEASE_EDIT,
      ROLE_TT_VEHICLE_RELEASE_DELETE,

      # requests
      ROLE_TT_TRANSPORTATION_REQUEST_VIEW,
      ROLE_TT_TRANSPORTATION_REQUEST_CREATE,
      ROLE_TT_TRANSPORTATION_REQUEST_EDIT,
      ROLE_TT_TRANSPORTATION_REQUEST_DELETE,
      ROLE_TT_TRANSPORTATION_REQUEST_APPLICATIONS,
      ROLE_TT_TRANSPORTATION_REQUEST_APPROVE,
      ROLE_TT_TRANSPORTATION_REQUEST_REJECT,
      ROLE_TT_TRANSPORTATION_REQUEST_CANCEL,

      # applications
      ROLE_TT_TRANSPORTATION_APPLICATION_VIEW,
      ROLE_TT_TRANSPORTATION_APPLICATION_CANCEL,

      # inspector events
      ROLE_TT_INSPECTOR_EVENTS_VIEW,

    ]
    ROLE_DISPATCHER: [
      ROLE_VEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      #vehicle calendar
      ROLE_TT_VEHICLE_CALENDAR_VIEW,
      ROLE_TT_VEHICLE_CALENDAR_CREATE,
      ROLE_TT_VEHICLE_CALENDAR_EDIT,
      ROLE_TT_VEHICLE_CALENDAR_DELETE,
      ROLE_TT_VEHICLE_CALENDAR_BLOCK,
      ROLE_TT_VEHICLE_CALENDAR_CLOSE,

      #driver calendar
      ROLE_TT_DRIVER_CALENDAR_VIEW,
      ROLE_TT_DRIVER_CALENDAR_CREATE,
      ROLE_TT_DRIVER_CALENDAR_EDIT,
      ROLE_TT_DRIVER_CALENDAR_DELETE,
      ROLE_TT_DRIVER_CALENDAR_BLOCK,
      ROLE_TT_DRIVER_CALENDAR_CLOSE,

      #discharges
      ROLE_TT_DISCHARGE_VIEW,

      # additional release
      ROLE_TT_VEHICLE_RELEASE_VIEW,
      ROLE_TT_VEHICLE_RELEASE_CREATE,
      ROLE_TT_VEHICLE_RELEASE_EDIT,
      ROLE_TT_VEHICLE_RELEASE_DELETE,

      # requests
      ROLE_TT_TRANSPORTATION_REQUEST_VIEW,
      ROLE_TT_TRANSPORTATION_REQUEST_CREATE,
      ROLE_TT_TRANSPORTATION_REQUEST_EDIT,
      ROLE_TT_TRANSPORTATION_REQUEST_APPROVE,
      ROLE_TT_TRANSPORTATION_REQUEST_REJECT,
      ROLE_TT_TRANSPORTATION_REQUEST_APPLICATIONS,
      ROLE_TT_TRANSPORTATION_REQUEST_CANCEL,

      # applications
      ROLE_TT_TRANSPORTATION_APPLICATION_VIEW,
      ROLE_TT_TRANSPORTATION_APPLICATION_CANCEL,

      # pairs
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_VIEW,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_EDIT,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_DELETE,

      # inspector events
      ROLE_TT_INSPECTOR_EVENTS_VIEW,
      ROLE_TT_INSPECTOR_EVENTS_CREATE,
      ROLE_TT_INSPECTOR_EVENTS_EDIT,
      ROLE_TT_INSPECTOR_EVENTS_DELETE,

    ]
    ROLE_DIRECTION_DISPATCHER: [
      ROLE_VEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      #vehicle calendar
      ROLE_TT_VEHICLE_CALENDAR_VIEW,

      #driver calendar
      ROLE_TT_DRIVER_CALENDAR_VIEW,

      # requests
      ROLE_TT_TRANSPORTATION_REQUEST_VIEW,
      ROLE_TT_TRANSPORTATION_REQUEST_CREATE,
      ROLE_TT_TRANSPORTATION_REQUEST_EDIT,
      ROLE_TT_TRANSPORTATION_REQUEST_APPROVE,
      ROLE_TT_TRANSPORTATION_REQUEST_REJECT,
      ROLE_TT_TRANSPORTATION_REQUEST_APPLICATIONS,
      ROLE_TT_TRANSPORTATION_REQUEST_CANCEL,

      # applications
      ROLE_TT_TRANSPORTATION_APPLICATION_VIEW,
      ROLE_TT_TRANSPORTATION_APPLICATION_CANCEL,

      # pairs
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_VIEW,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_EDIT,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_DELETE,

      # inspector events
      ROLE_TT_INSPECTOR_EVENTS_VIEW,
      ROLE_TT_INSPECTOR_EVENTS_CREATE,
      ROLE_TT_INSPECTOR_EVENTS_EDIT,
      ROLE_TT_INSPECTOR_EVENTS_DELETE,
    ]
    ROLE_SENIOR_DISPATCHER: [
      ROLE_VEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      # vehicle request
      ROLE_TT_VEHICLE_REQUEST_VIEW,
      ROLE_TT_VEHICLE_REQUEST_APPROVE,
      ROLE_TT_VEHICLE_REQUEST_EDIT,
      ROLE_TT_VEHICLE_REQUEST_CANCEL,
      ROLE_TT_VEHICLE_REQUEST_EXPORT,

      # vehicle request correction
      ROLE_TT_VEHICLE_REQUEST_CORRECTION_VIEW,

      # vehicle request summary
      ROLE_TT_VEHICLE_REQUEST_SUMMARY_VIEW,

      #discharges
      ROLE_TT_DISCHARGE_VIEW,
      ROLE_TT_VEHICLE_REQUEST_DISCHARGE_CREATE,
      ROLE_TT_DISCHARGE_EDIT,
      ROLE_TT_DISCHARGE_DELETE,
      ROLE_TT_DISCHARGE_APPROVE,
      ROLE_TT_DISCHARGE_CANCEL,

      # additional release
      ROLE_TT_VEHICLE_RELEASE_VIEW,
      ROLE_TT_VEHICLE_RELEASE_CREATE,
      ROLE_TT_VEHICLE_RELEASE_EDIT,
      ROLE_TT_VEHICLE_RELEASE_DELETE,
      ROLE_TT_VEHICLE_RELEASE_APPROVE,

      # requests
      ROLE_TT_TRANSPORTATION_REQUEST_VIEW,
      ROLE_TT_TRANSPORTATION_REQUEST_CREATE,
      ROLE_TT_TRANSPORTATION_REQUEST_EDIT,
      ROLE_TT_TRANSPORTATION_REQUEST_APPROVE,
      ROLE_TT_TRANSPORTATION_REQUEST_REJECT,
      ROLE_TT_TRANSPORTATION_REQUEST_APPLICATIONS,
      ROLE_TT_TRANSPORTATION_REQUEST_CANCEL,

      # applications
      ROLE_TT_TRANSPORTATION_APPLICATION_VIEW,
      ROLE_TT_TRANSPORTATION_APPLICATION_CANCEL,
      ROLE_TT_TRANSPORTATION_APPLICATION_BREAK,

      # pairs
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_VIEW,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_EDIT,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_DELETE,
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_DETACH,

      # inspector events
      ROLE_TT_INSPECTOR_EVENTS_VIEW,
      ROLE_TT_INSPECTOR_EVENTS_CREATE,
      ROLE_TT_INSPECTOR_EVENTS_EDIT,
      ROLE_TT_INSPECTOR_EVENTS_DELETE,
    ]
    ROLE_CONTRACTOR_ENGINEER: [
      ROLE_VEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      #vehicle calendar
      ROLE_TT_VEHICLE_CALENDAR_VIEW,
      ROLE_TT_VEHICLE_CALENDAR_CREATE,
      ROLE_TT_VEHICLE_CALENDAR_EDIT,
      ROLE_TT_VEHICLE_CALENDAR_DELETE,
      ROLE_TT_VEHICLE_CALENDAR_BLOCK,
      ROLE_TT_VEHICLE_CALENDAR_CLOSE,

      #driver calendar
      ROLE_TT_DRIVER_CALENDAR_VIEW,
      ROLE_TT_DRIVER_CALENDAR_CREATE,
      ROLE_TT_DRIVER_CALENDAR_EDIT,
      ROLE_TT_DRIVER_CALENDAR_DELETE,
      ROLE_TT_DRIVER_CALENDAR_BLOCK,
      ROLE_TT_DRIVER_CALENDAR_CLOSE,

      #discharges
      ROLE_TT_DISCHARGE_VIEW,

      # additional release
      ROLE_TT_VEHICLE_RELEASE_VIEW,
      ROLE_TT_VEHICLE_RELEASE_CREATE,
      ROLE_TT_VEHICLE_RELEASE_EDIT,
      ROLE_TT_VEHICLE_RELEASE_DELETE,
      ROLE_TT_VEHICLE_RELEASE_APPROVE,
    ]
    ROLE_INSPECTOR: [
      ROLE_VEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      #discharges
      ROLE_TT_DISCHARGE_VIEW,

      # pairs
      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_VIEW,

      # inspector events
      ROLE_TT_INSPECTOR_EVENTS_VIEW,
      ROLE_TT_INSPECTOR_EVENTS_CREATE,
    ]
    ROLE_CUSTOMER: [
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      # requests
      ROLE_TT_TRANSPORTATION_REQUEST_VIEW,
      ROLE_TT_TRANSPORTATION_REQUEST_CREATE,
      ROLE_TT_TRANSPORTATION_REQUEST_EDIT,
      ROLE_TT_TRANSPORTATION_REQUEST_DELETE,
      ROLE_TT_TRANSPORTATION_REQUEST_APPLICATIONS,
      ROLE_TT_TRANSPORTATION_REQUEST_APPROVE,
      ROLE_TT_TRANSPORTATION_REQUEST_REJECT,
      ROLE_TT_TRANSPORTATION_REQUEST_CANCEL,

      # applications
      ROLE_TT_TRANSPORTATION_APPLICATION_VIEW,

      ROLE_CURRENTORGANIZATION_EDIT,
    ]
    ROLE_CONTRACTOR: [
      ROLE_WORKPLACE_CONTRACTOR,
      ROLE_VEHICLE_VIEW,
      ROLE_DRIVER_VIEW,
      ROLE_TRAILER_VIEW,
      ROLE_TT_VEHICLE_VIEW,
      ROLE_TT_DRIVER_VIEW,

      #contract vehicle
      ROLE_CONTRACTVEHICLE_VIEW,
      ROLE_CONTRACTVEHICLE_CREATE,
      ROLE_CONTRACTVEHICLE_EDIT,
      ROLE_CONTRACTVEHICLE_DELETE,

      ROLE_NOMENCLATUREGROUP_VIEW,
      ROLE_PRICEGROUP_VIEW,
      ROLE_VEHICLETYPE_VIEW,
      ROLE_MODEL_ICES_VIEW,
      ROLE_VEHICLE_CATEGORIES_VIEW,
      ROLE_VEHICLESPECIALIZATION_VIEW,

      #contract driver
      ROLE_CONTRACTDRIVER_VIEW,
      ROLE_CONTRACTDRIVER_CREATE,
      ROLE_CONTRACTDRIVER_EDIT,
      ROLE_CONTRACTDRIVER_DELETE,

      #discharges
      ROLE_TT_DISCHARGE_VIEW,

      #vehicle calendar
      ROLE_TT_VEHICLE_CALENDAR_VIEW,
      ROLE_TT_VEHICLE_CALENDAR_CREATE,
      ROLE_TT_VEHICLE_CALENDAR_EDIT,
      ROLE_TT_VEHICLE_CALENDAR_DELETE,
      ROLE_TT_VEHICLE_CALENDAR_BLOCK,
      ROLE_TT_VEHICLE_CALENDAR_CLOSE,

      #driver calendar
      ROLE_TT_DRIVER_CALENDAR_VIEW,
      ROLE_TT_DRIVER_CALENDAR_CREATE,
      ROLE_TT_DRIVER_CALENDAR_EDIT,
      ROLE_TT_DRIVER_CALENDAR_DELETE,
      ROLE_TT_DRIVER_CALENDAR_BLOCK,
      ROLE_TT_DRIVER_CALENDAR_CLOSE,

      ROLE_TT_VEHICLE_TRAIN_DRIVER_PAIR_VIEW,
      ROLE_TT_INSPECTOR_EVENTS_VIEW,

      ROLE_TT_WORK_SCHEDULE_TEMPLATE_CREATE,
      ROLE_TT_WORK_SCHEDULE_TEMPLATE_EDIT,
      ROLE_TT_WORK_SCHEDULE_TEMPLATE_DELETE,

      ROLE_TT_VEHICLE_RELEASE_VIEW,
      ROLE_TT_VEHICLE_RELEASE_CREATE,
      ROLE_TT_VEHICLE_RELEASE_EDIT,
      ROLE_TT_VEHICLE_RELEASE_DELETE,

      ROLE_CURRENTORGANIZATION_EDIT,
    ]
    ROLE_MOBILE: [ ROLE_USER ]
    ROLE_MASTER: [ ROLE_WORKPLACE_MASTER ]
    ROLE_LEAD: [ ROLE_WORKPLACE_LEAD ]
    ROLE_SUPPORT: [ ROLE_IMPERSONATE, ROLE_USER_VIEW ]
    ROLE_ADMIN: [
      ROLE_MECHANIC,
      ROLE_DISPATCHER,
      ROLE_DIRECTION_DISPATCHER,
      ROLE_SENIOR_DISPATCHER,
      ROLE_CONTRACTOR_ENGINEER,
      ROLE_INSPECTOR,
      ROLE_SUPPORT,
      ROLE_CONTRACTOR,
      ROLE_LEAD,
      ROLE_MASTER
    ]

  # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
  providers:
    chain_provider:
      chain:
        providers: [ in_memory, app_user_provider ]
    in_memory:
      memory:
        users:
          admin: { password: 'admin', roles: [ ROLE_USER, ROLE_ADMIN ] }
    app_user_provider:
      entity:
        class: 'App\Entity\User'

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    public:
      pattern: ^/public/
    main:
      switch_user: {role: ROLE_IMPERSONATE }
      user_checker: App\Security\UserChecker
      provider: chain_provider
      pattern: ^/
      json_login:
        login_path: app_login
        check_path: app_login
        success_handler: App\Security\AuthenticationHandler
        failure_handler: App\Security\AuthenticationHandler
      logout:
        path: app_logout

      # activate different ways to authenticate
      # https://symfony.com/doc/current/security.html#firewalls-authentication

      # https://symfony.com/doc/current/security/impersonating_user.html
      # switch_user: true

  access_control:
    # { path: ^/, roles: ROLE_USER }
    # - { path: ^/profile, roles: ROLE_USER }
    - { path: ^/api/v1/mobile/security/token, roles: PUBLIC_ACCESS }
    - { path: ^/api/v1/login$, roles: [ IS_AUTHENTICATED_ANONYMOUSLY, ROLE_USER ] }
    - { path: ^/api/v1/external/security, roles: PUBLIC_ACCESS }
    - { path: ^/api/v1/external, roles: ROLE_USER }
    - { path: ^/api, roles: ROLE_USER }
    - { path: ^/public, roles: PUBLIC_ACCESS }

