.login_page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  &-right_side {
    background-image: url("images/svg/login/react.png");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    &__switch {
      &__light{
        border-radius: 15px;
        padding: 10px;
        background: white;
        position: absolute;
        top: 40px;
        right: 40px;
      }
      &__dark{
        border-radius: 15px;
        padding: 10px;
        position: absolute;
        top: 40px;
        right: 40px;
        background: black;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login_page-right_side {
    width: 100%;
  }
  .login_page-left_side {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .login_page {
    &-container {
      width: 320px;
    }
  }
}

@media screen and (max-height: 800px) {
  .login_page-right_side {
    &__logo {
      height: 150px;
    }
  }
}
