.ant-picker {
  padding: 11.5px 8px;

  &-input {
    input {
      font-size: 14px !important;
    }

    svg {
      color: #A3A3A3;
      width: 24px;
      height: 24px;
    }
  }

  &_dark-theme {
    .ant-picker-input {
      svg {
        color: #FFFFFF;
      }
    }
  }

  &-large {
    padding: 17px 10px;

    input {
      font-size: 16px !important;
    }

    .ant-picker-input {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  &-small {
    padding: 6px 10px;

    input {
      font-size: 12px !important;
    }

    .ant-picker-input {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}