parameters:
  doctrine.orm.validator.unique.class: App\Serializer\UniqueEntityValidator


services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  App\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'


  App\Controller\:
    resource: '../src/Controller'
    tags: [ 'controller.service_arguments' ]

  App\Serializer\NestedEntitiesNormalizer:
    tags:
      - { name: serializer.normalizer, priority: -901 }

  App\Service\Security\RoleManager:
    public: true

  Symfony\Component\Serializer\Normalizer\DateTimeNormalizer:
    arguments:
      $defaultContext:
        datetime_format: 'Y-m-d\TH:i:s'

  Symfony\Component\Security\Http\AccessToken\AccessTokenExtractorInterface: '@security.access_token_extractor.header'

  App\Security\AuthenticationHandler:
  #        arguments:
  #            - '@doctrine.orm.entity_manager'
  #            - '@stof_doctrine_extensions.listener.blameable'

  App\Listener\SecurityListener:
    arguments:
      - '@parameter_bag'

  App\Security\UserPasswordEncoderListener:
    tags:
      - { name: doctrine.orm.entity_listener, entity: App\Entity\User, event: prePersist }
      - { name: doctrine.orm.entity_listener, entity: App\Entity\User, event: preUpdate }

  App\Listener\Doctrine\LoggableListener:
    tags: [ { name: kernel.mapped_event_subscriber } ]

  App\Service\Doctrine\Scopes\ScopeFilterConfigurator:
    tags:
      - { name: kernel.event_listener, event: kernel.request }

  # App\Service\Storage\RedisStorage:
  #   arguments: [ '%env(REDIS_HOST)%', '%env(int:REDIS_PORT)%' ]

  # App\Listener\Queue\ExportMessageQueueHandler:
  #   arguments: [ '@annotations.reader',
  #     [
  #       '@App\Service\Export\Builder\ExportCatalogBuilder',
  #       '@App\Service\Export\Builder\ExportReportBuilder',
  #       '@App\Service\Export\Builder\ExportGSMReportBuilder',
  #     ]
  #   ]
  
  App\Service\Client\IntegrationClient:
    arguments: [ '%env(INTEGRATION_URL)%' ]

  App\Service\Doctrine\DoctrineMasterEntityService:
    public: true


  app.bus.object_normalizer:
    class: Symfony\Component\Serializer\Normalizer\ObjectNormalizer
    autoconfigure: false
    arguments:
      - '@serializer.mapping.class_metadata_factory'
      - '@serializer.name_converter.camel_case_to_snake_case'
      - '@property_accessor'
      - '@property_info'

  app.bus.array_denormalizer:
    class: Symfony\Component\Serializer\Normalizer\ArrayDenormalizer
    autoconfigure: false
    calls:
      - setDenormalizer: ['@app.bus.object_normalizer']

  app.bus.serializer:
    class: Symfony\Component\Serializer\Serializer
    autoconfigure: false
    arguments:
      - ['@serializer.normalizer.datetime', '@app.bus.array_denormalizer', '@app.bus.object_normalizer']
      - ['@serializer.encoder.json']
