.search {
  &_active {
    background-color: rgba(234, 151, 62, 0.5);
    opacity: 0.8;
  }
}

.table {
   table-layout: fixed;
  .tableHead{
    user-select: none;
  }
  .tableCell {
    padding: 10px 0;
    &.emptyCell {
      width: auto;
    }
  }
  .resizeLine {
    position: absolute; 
    height: 100%;
    width: 4px;
    top: 0;
    cursor: col-resize;
    right: -2px;
    &:hover {
      background-color: #0AA1DD;
    }
    &:active {
      background-color: #0AA1DD;
    }
      &_light {
         background-color: #ededed;
      }
      &_dark {
        background-color: #292929;     
      }
  }
}
